<h1 class="mat-h1 text-center">Accounts</h1>

<div class="walkers-grid">
  <mat-card *ngFor="let walker of walkers">
    <img mat-card-image [src]="walker.imageUrl" />
    <mat-card-header>
      <mat-card-title>
        {{ walker.name }}
        <mat-icon *ngIf="walker.verifiedWalker" color="accent">
          verified_user
        </mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="profile-info">
        <div class="profile-details">
          <p><strong>Email:</strong> {{ walker.email }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="text-center" *ngIf="!walkers">
  <mat-spinner></mat-spinner>
</div>
